<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Box Office Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <h1>Box Office Dashboard</h1>

    <div class='dashboard-grid'>
        <div id='top-ten-movies'>
            <h2>Top 10 Highest Grossing Films</h2>
            <h4>Avg: <span id="gross-average"></span></h4>
            <ol id="gross-movies">
            </ol>
        </div>

        <div id='top-ten-movies-by-studio'>
            <h2>Top 10 by <span id="studio-name">Studio</span>
                <select id='studio-select' onchange="updateStudioRank()">
                </select>
            </h2>
            <h4>Avg: <span id="studio-average"></span></h4>
            <ol id='studio-movies'>
            </ol>
        </div>

        <div id='top-ten-movies-by-opening-weekend'>
            <h2>Top 10 by Opening Weekend Gross</h2>
            <h4>Avg: <span id="opening-average"></span></h4>
            <ol id="opening-movies">
            </ol>
        </div>

        <div id='movie-list-complete'></div>
    </div>
    <script>
        var movies;

        // Helper function to format numbers with commas and '$'.
        function formatNumbers(number, currency) {
            if (number) {
                number = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                if (currency) {
                    number = '$' + number;
                }
            }
            return number
        }

        // Get the movies via AJAX from API collection once DOM Content is all loaded.
        document.addEventListener('DOMContentLoaded', function() {
            var request = new XMLHttpRequest();

            request.onreadystatechange = function() {
                if (request.readyState === XMLHttpRequest.DONE) {
                    if (request.status === 200) {
                        movies = JSON.parse(request.responseText);
                        // Use a custom event to trigger the population of when
                        // they are loaded.
                        window.dispatchEvent(new Event('moviesLoaded'));
                    }
                }
            }

            request.open('GET', "{{ url_for('movies') }}");
            request.send();
        });

        // Load the table of all movies.
        var movieListDiv = document.getElementById('movie-list-complete')

        // Custom event handler fired once movies are all loaded via AJAX.
        window.addEventListener('moviesLoaded', function(e) {
            /*var movieTable = document.createElement('table');
            var header = document.createElement('tr');

            var titleHead = document.createElement('th');
            titleHead.textContent = 'Title';

            var studioHead = document.createElement('th');
            studioHead.textContent = 'Studio';

            var totalGrossHead = document.createElement('th');
            totalGrossHead.textContent = 'Total Gross';

            var totalTheatersHead = document.createElement('th');
            totalTheatersHead.textContent = 'Total Theaters';

            var openingGrossHead = document.createElement('th');
            openingGrossHead.textContent = 'Opening Gross';

            var openingTheatersHead = document.createElement('th');
            openingTheatersHead.textContent = 'Opening Theaters';

            header.append(titleHead);
            header.append(studioHead);
            header.append(totalGrossHead);
            header.append(totalTheatersHead);
            header.append(openingGrossHead);
            header.append(openingTheatersHead);
            movieTable.append(header);*/

            var uniqueStudios = movies.map(movie => movie.studio).filter((value, index, self) => self.indexOf(value) === index);
            var studioSelect = document.getElementById('studio-select');
            var grossAvg = document.getElementById('gross-average');
            var openingAvg = document.getElementById('opening-average');
            var studioAvg = document.getElementById('studio-average');



            uniqueStudios.forEach(function (item, idx, arr) {
                var opt = document.createElement('option');
                opt.textContent = item.toString();

                studioSelect.append(opt);
            });

            var topGrossMovies = movies.slice();
            var topStudioMovies = movies.slice();
            var topOpeningMovies = movies.slice();


            topGrossMovies.sort(function (a, b) {
                return b.total_gross - a.total_gross;
            });

            topOpeningMovies.sort(function (a, b) {
                return b.opening_gross - a.opening_gross;
            });
            topStudioMovies = topStudioMovies.filter(movie => movie.studio === topStudioMovies[0].studio);
            topStudioMovies.sort(function (a, b) {
                return b.total_gross - a.total_gross;
            })

            topGrossMovies = topGrossMovies.slice(0, 10);
            topOpeningMovies = topOpeningMovies.slice(0, 10);
            topStudioMovies = topStudioMovies.slice(0, 10);


            grossAvg.textContent = "$" + (topGrossMovies.reduce(function (total, movie) { return total + movie.total_gross; }, 0) / topGrossMovies.length).toFixed(2);
            openingAvg.textContent = "$" + (topOpeningMovies.reduce(function (total, movie) { return total + movie.opening_gross; }, 0) / topOpeningMovies.length).toFixed(2);
            studioAvg.textContent = "$" + (topStudioMovies.reduce(function (total, movie) { return total + movie.total_gross; }, 0) / topStudioMovies.length).toFixed(2);



            topGrossMovies.forEach(function (item, idx, arr) {
                var li = document.createElement('li');
                li.textContent = item.title;
                document.getElementById('gross-movies').appendChild(li);
            });

            topOpeningMovies.forEach(function (item, idx, arr) {
                var li = document.createElement('li');
                li.textContent = item.title;
                document.getElementById('opening-movies').appendChild(li);
            });

            topStudioMovies.forEach(function (item, idx, arr) {
                var li = document.createElement('li');
                li.textContent = item.title;
                document.getElementById('studio-movies').appendChild(li);
            });

            /*movies.forEach(function(item, idx, arr) {
                var mRow = document.createElement('tr');
                var mTitle = document.createElement('td');
                var mStudio = document.createElement('td');
                var mTotalGross = document.createElement('td');
                var mTotalTheaters = document.createElement('td');
                var mOpeningGross = document.createElement('td');
                var mOpeningTheaters = document.createElement('td');

                mTitle.textContent = item.title;
                mStudio.textContent = item.studio;
                mTotalGross.textContent = formatNumbers(item.total_gross, true);
                mTotalTheaters.textContent = formatNumbers(item.total_theaters, false);
                mOpeningGross.textContent = formatNumbers(item.opening_gross, true);
                mOpeningTheaters.textContent = formatNumbers(item.opening_theaters, false);

                mRow.append(mTitle);
                mRow.append(mStudio);
                mRow.append(mTotalGross);
                mRow.append(mTotalTheaters);
                mRow.append(mOpeningGross);
                mRow.append(mOpeningTheaters);

                movieTable.append(mRow);
            });

            movieListDiv.append(movieTable);*/


        });

        function updateStudioRank() {
            var select = document.getElementById('studio-movies');
            while(select.firstChild) {
                select.removeChild(select.firstChild);
            }


            var studio = document.getElementById('studio-select').value;

            var uniqueStudios = movies.map(movie => movie.studio).filter((value, index, self) => self.indexOf(value) === index);
            var studioSelect = document.getElementById('studio-select');

            uniqueStudios.forEach(function (item, idx, arr) {
                var opt = document.createElement('option');
                opt.textContent = item.toString();

                studioSelect.append(opt);
            });
            var topStudioMovies = movies.slice();
            topStudioMovies = topStudioMovies.filter(movie => movie.studio === studio);
                topStudioMovies.sort(function (a, b) {
                return b.total_gross - a.total_gross;
            });

            topStudioMovies = topStudioMovies.slice(0, 10);

            document.getElementById('studio-average').textContent = "$" + (topStudioMovies.reduce(function (total, movie) { return total + movie.total_gross; }, 0) / topStudioMovies.length).toFixed(2);

            topStudioMovies.forEach(function (item, idx, arr) {
                var li = document.createElement('li');
                li.textContent = item.title;
                document.getElementById('studio-movies').appendChild(li);
            });
        }

    </script>
</body>

</html>